:root {
    --color-primary: #f4a261;
    --color-success: #2a9d8f;
    --color-warning: #e9c46a;
    --color-danger: #f94c21;
    --color-danger-variant: rgba(231, 111, 81, 0.4);
    --color-white: #ffffff;
    --color-light: rgba(255, 255, 255, 0.8);
    --color-black: #1d1d1d;
    --color-bg: #f0efeb;
    --color-bg1: #e5e5dc;
    --color-bg2: #b5c18e;
    --container-width-1g: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

.contact__container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact__aside {
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image {
    width: 12rem;
    margin-bottom: 2rem;
}

.contact__aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact__aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--color-white);
}

.contact__socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact__socials a {
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
    color: var(--color-black);
}

.contact__socials a:hover {
    background: transparent;
    border: 1px solid var(--color-primary);
}

/* form */

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name {
    display: flex;
    gap: 1.2rem;
}

.contact__form input[type="text"] {
    width: 50%;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-black);
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}

.contact__form .btn {
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: none;
    transition: var(--transition);
}

.contact__form .btn:hover {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
